<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/signup.css" />
    <title>Login Form</title>
  </head>
  <body>
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
          
          <form action="/signup" class="sign-up-form validated-form" method="POST">
            <h2 class="title">Sign up</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" class ="form-control" placeholder="Username" name="username" required/>
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" class ="form-control" placeholder="Password" name="password" required/>
            </div>
            <button class="btn"  style="text-align:center; padding: 10px;text-decoration:none">Sign up</button>
            
          </form>
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>New here ?</h3>
            <p>
              Want to join us!!!<br>
              Lets Sign up first
              
            </p>
            <button class="btn transparent" id="sign-up-btn">
              Sign up
            </button>
          </div>
          <img src="https://cuc.mponline.gov.in/Portal/Services/CU/newcss/images/loginbg.png"
           class="image" alt="" />
        </div>
        <div class="panel right-panel">
          
          <img src="https://media.istockphoto.com/photos/fudgy-brownies-with-nuts-and-caramel-picture-id673747534?k=20&m=673747534&s=612x612&w=0&h=mLi6iH8ulm5k6BAfaliw9vQ0K6Cv4MbDbzN3HgQvfR4=" 
          class="image" alt="" />
        </div>
      </div>
    </div>

    <script src="/js/signup.js"></script>
    <script src="/js/validateForm.js"></script>
  </body>
</html>